.box-1, .box-2, .box-3 {
    width: 400px;
    height: 100px;
    background-color: yellow;
}

.box-1 {
    padding: 20px;
}

.box-2 {
    padding: 15px;
}

.box-3 {
    padding: 10px;
}